body {
    color: red;
}

h1 {
    text-align: center;
}

.products {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.product {
    border-top: 1px solid black;
    padding-bottom: 2rem;
}

.product__price {
    display: flex;
    flex-direction: column;
    text-align: center;
}